#Image1
{
    background-image: url('../img/Examen/Barra lateral.jpg');
    width: 129px;
    height: 317px;
    left: 20px;
}

#Image2
{
    background-image: url('../img/Examen/barra1.jpg');
    width: 1027px;
    height: 41px;    
}

#Image3
{
    background-image: url('../img/Examen/1.jpg');
    width: 171px;
    height: 126px;    
}

#Image4
{
    background-image: url('../img/Examen/2.jpg');
    width: 171px;
    height: 126px;    
}

#Image5
{
    background-image: url('../img/Examen/3.jpg');
    width: 171px;
    height: 126px;    
}

#Image6
{
    background-image: url('../img/Examen/4.jpg');
    width: 171px;
    height: 126px;    
}

#Image7
{
    background-image: url('../img/Examen/5.jpg');
    width: 171px;
    height: 126px;    
}

#Image8
{
    background-image: url('../img/Examen/6.jpg');
    width: 171px;
    height: 126px;    
}

#Image9
{
    background-image: url('../img/Examen/7.jpg');
    width: 171px;
    height: 126px;    
}

#Image10
{
    background-image: url('../img/Examen/8.jpg');
    width: 171px;
    height: 126px;    
}

#Image11
{
    background-image: url('../img/Examen/9.jpg');
    width: 171px;
    height: 126px;    
}

#Image12
{
    background-image: url('../img/Examen/10.jpg');
    width: 171px;
    height: 126px;    
}

#Image13
{
    background-image: url('../img/Examen/11.jpg');
    width: 171px;
    height: 126px;    
}

#Image14
{
    background-image: url('../img/Examen/12.jpg');
    width: 171px;
    height: 126px;    
}

#Image15
{
    background-image: url('../img/Examen/13.jpg');
    width: 171px;
    height: 126px;    
}

#Image16
{
    background-image: url('../img/Examen/14.jpg');
    width: 171px;
    height: 126px;    
}

#Image17
{
    background-image: url('../img/Examen/15.jpg');
    width: 171px;
    height: 126px;    
}

#Image18
{
    background-image: url('../img/Examen/16.jpg');
    width: 171px;
    height: 126px;    
}

#Image19
{
    background-image: url('../img/Examen/17.jpg');
    width: 171px;
    height: 126px;    
}

#Image20
{
    background-image: url('../img/Examen/18.jpg');
    width: 171px;
    height: 126px;    
}

#Image21
{
    background-image: url('../img/Examen/19.jpg');
    width: 171px;
    height: 126px;    
}

#Image22
{
    background-image: url('../img/Examen/20.jpg');
    width: 171px;
    height: 126px;    
}

#Image23
{
    background-image: url('../img/Examen/21.jpg');
    width: 171px;
    height: 126px;    
}

