#Image1
{
    background-image: url('../img/BMW/1.jpg');   
    width: 480px;
    height: 300px;
}

#Image2
{
    background-image: url('../img/BMW/2.jpg'); 
    width: 480px;
    height: 300px;
}

#Image3
{
    background-image: url('../img/BMW/3.jpg');
    width: 480px;
    height: 300px;
}

#Image4
{
    background-image: url('../img/BMW/4.jpg'); 
    width: 480px;
    height: 300px;
}

#Image5
{
    background-image: url('../img/BMW/5.jpg'); 
    width: 480px;
    height: 300px;
}

#Image6
{
    background-image: url('../img/BMW/6jpg'); 
    width: 480px;
    height: 300px;
}

#Image7
{
    background-image: url('../img/BMW/7.jpg'); 
    width: 480px;
    height: 300px;
}

#Image8
{
    background-image: url('../img/BMW/8.jpg'); 
    width: 480px;
    height: 300px;
}

#Image9
{
    background-image: url('../img/BMW/9.jpg'); 
    width: 480px;
    height: 300px;
}