/*div#nav{
  text-align: center;
}
div#nav ul{
  display: inline-block;
}
*/
/*#nav ul {
    display: inline-block;
    list-style-type: none;
}*/
/*#central{
position:absolute;
top:50%;
left: 50%;
margin-top: -100px;
margin-left: -100px;
}
*/