.color1{
	background-color: red;
}
.color2{
	background-color: green;
	
}
.color3{
	background-color: blue;
}
.color4{
	background-color: purple;
}
.color5{
	background-color: black;
}
.color6{
	background-color: grey;
}
.color7{
	background-color: orange;
}

.color8{
	background-color: pink;	
}
.color9{
	background-color: cyan;
}
.color10{
	background-color: brown;
}
.color11{
	background-color: turquoise;
}
.color12{
	background-color: darkgreen;
}
.color13{
	background-color: darkblue;
}